In [8]:
import pandas as pd

shop = {
    'Product':['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
    'Quantity':[10, 20, 15, 12, 8],
    'Price':[30, 10, 20, 40, 50]
}


print(shop)
print(shop['Quantity'])
print(shop['Price'])

{'Product': ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'], 'Quantity': [10, 20, 15, 12, 8], 'Price': [30, 10, 20, 40, 50]}
[10, 20, 15, 12, 8]
[30, 10, 20, 40, 50]

In [9]:
dfData = pd.DataFrame({
    'Product':['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
    'Quantity':[10, 20, 15, 12, 8],
    'Price':[30, 10, 20, 40, 50]
})

print(dfData)

  Product  Quantity  Price
0   Apple        10     30
1  Banana        20     10
2  Orange        15     20
3  Grapes        12     40
4   Mango         8     50

In [10]:
df = pd.DataFrame({
    'Product': ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
    'Quantity': [10, 20, 15, 12, 8],
    'Price': [30, 10, 20, 40, 50]
})

# Print the DataFrame
print(df)

  Product  Quantity  Price
0   Apple        10     30
1  Banana        20     10
2  Orange        15     20
3  Grapes        12     40
4   Mango         8     50

In [19]:

df['Total_cost'] = df['Quantity'] * df['Price']

print(df)

  Product  Quantity  Price  Total_cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400

In [11]:
TotalQuantity = df['Quantity'].sum()
TotalAvrage = df['Price'].mean()


print(f"the total products of quantity : {TotalQuantity}")
print(f"the total amount of product :{TotalAvrage}")

the total products of quantity : 65
the total amount of product :30.0

In [12]:
quantity_column = df['Quantity']
print(quantity_column)

orange_row = df[df['Product'] == 'Orange']
print(orange_row)

0    10
1    20
2    15
3    12
4     8
Name: Quantity, dtype: int64
  Product  Quantity  Price
2  Orange        15     20

In [17]:
nameList = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

print(nameList)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
getValueOfC = nameList['c']

print(getValueOfC)

3

In [20]:
filter_data = df[df['Total_cost'] > 300]

print(filter_data)

  Product  Quantity  Price  Total_cost
3  Grapes        12     40         480
4   Mango         8     50         400

In [21]:
sort_Data = df.sort_values(by='Price' , ascending=False)

print(sort_Data)

  Product  Quantity  Price  Total_cost
4   Mango         8     50         400
3  Grapes        12     40         480
0   Apple        10     30         300
2  Orange        15     20         300
1  Banana        20     10         200

In [22]:
print(df.head)

print(df.tail)


print(df.describe)

<bound method NDFrame.head of   Product  Quantity  Price  Total_cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400>
<bound method NDFrame.tail of   Product  Quantity  Price  Total_cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400>
<bound method NDFrame.describe of   Product  Quantity  Price  Total_cost
0   Apple        10     30         300
1  Banana        20     10         200
2  Orange        15     20         300
3  Grapes        12     40         480
4   Mango         8     50         400>

In [ ]:
data = {
    'Key' : []
}